header {
  background: #1e2b33;
  color: #fff;
  a {
    color: #fff;
  }
  .brand {
    float: left;
    font-size: 20px;
    margin-right: 40px;
    margin-top: 10px;
    span.company {
      display: inline-block;
      border-right: 1px solid #fff;
      padding-right: 10px;

    }

    span.slogan {
      display: inline-block;
      //float:left;
      margin-top: -14px;
      margin-left: 10px;
    }
  }
  .nav>li>a:focus, .nav>li>a:hover {
    background: #f5f5f5;
  }

  .navbar {
    background: #1e2b33;
    border-bottom: 0;
    margin-bottom: 0;
  }

  .nav.navbar-right>li>a:focus, .nav.navbar-right>li>a:hover {
    background-color: #1e2b33;
  }

  .nav .active a {
    background-color: #f5f5f5;
    color: #c63;
  }

  .navbar-toggle {
    border-color: #fff;
    span {
      background: #fff;
    }
  }

  .social-nav {
    float: left;
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      float: left;
      margin-right: 10px;
    }
  }

  .twitter-follow-button {
    margin-top: 5px;
  }

  @media (min-width: $screen-sm) {
    .social-nav {
      margin-left: 20px;
      li {
        float: none;
        margin-right: 0;
      }
    }
  }

}