@font-face {
  font-family: Aller_Bd;
  src: url($icon-font-path + 'Aller_Bd.ttf');
}

@font-face {
  font-family: Franchise_Bd;
  src: url($icon-font-path + 'Franchise-Bold.ttf');
}

@font-face {
  font-family: Kaushan;
  src: url($icon-font-path + 'KaushanScript-Regular-webfont.ttf');
}