.section {
  padding-top: 20px;
  padding-bottom: 20px;
}

#intro {
  margin-top: 20px;
}

h2 {
  margin-bottom: 30px;
  font-family: Aller_Bd;
}

a {
  color: #c63;
}

.row.shadow {
  //box-shadow: 0px 10px 35px 0px #F2F2F2;

}

.topShadow {
  background-image: url(../images/bg_sectiondivider.png);
  background-repeat: no-repeat;
  background-position: 50% 0;
}

#contact textarea {
  resize: none;
}

img {
  max-width: 100%;
}

body {
  position: relative;
}

.brand {
  font-family: Aller_Bd;
  span.slogan {
    font-family: 'Kaushan', cursive;
  }
}


#contact {
  button, input, select, textarea {
    width: 100%;
  }
  input[type=submit] {
    width: auto;
  }
}

@media (max-width: $screen-xs-max) {
  .xs-clear {
    clear: both;
  }
  .project img {
    display: block;
    clear: both;
    float: none;
  }

  .navbar-fixed-top {
    position: static;
  }

  #intro {
    margin-top: 0;
  }
}