.slick-slide {
  position: relative;
  margin: 10px;
  cursor: pointer;
  img {
    width: 100%;
    max-height: 210px;
  }
}

.slide__caption {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  background: #000;
  color: #fff;
  opacity: 0.85;
  text-align: center;
}

.slick-prev:before,.slick-next:before {
  color: #000!important;
}

.slick-initialized .slick-slide {
  outline: 0;
}