.project {
  &.well {
    background-color: #fff;
    margin-top: 15px;
    position: relative;
    button {
      position: absolute;
      top: 0;
      right: 5px;
    }
  }
  .title {
    margin-top: 0;
  }
  p:first-child {
    border-left: 4px solid #333333;
    color: #222;
    font-weight: bold;
    padding-left: 5px;
  }
}